@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>

                <p>I punti elencati di seguito, illustrano le funzionalità da realizzare nel progetto. Per la riuscita del test, sviluppare almeno il primo punto.</p>

            </hgroup>

        </div>
    </section>
}
<ol class="round">

    <h2>Istruzioni per il completamento del test</h2>

    <li class="one">
        <h5>Completare la vista Prodotti introducendo funzioni per inserimento, modifica, eliminazione.</h5>
        <br />
        <p></p>

    </li>

    <li class="two">
        <h5>Utilizzando il pattern del Prodotti, creare la vista del listino con funzioni per inserimento, modifica, eliminazione.</h5>        
        <br />
        <p></p>
    </li>

    <li class="three">
        <h5>Nella vista listino, introdurre una funzione per legare i prodotti al listino. La nuova funzione può aprire una nuova vista o può esporre i dati in una pagina popup, con introduzione di plugin jQuery</h5>
        <br />
        <p></p>
    </li>

</ol>
